root: {
  font-size: 18px;
}

.app-rating {
  padding-left: 0.6rem;
}

.main-content-container {
  margin: 0 auto;
  width: 80%;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-card {
  display: flex;
  margin: 2rem;
  padding: 2rem;
  background: #fff;
  align-items: flex-start;
}

.card {
  padding: 0 2rem;
}

.main-container-heading {
  padding: 2rem 0;
}

.card-section-heading,
.main-container-heading {
  margin-left: 2rem;
}
